[flake8]
ignore =
    # First category : "ffs flake8 let black do its own formatting"
    # whitespace before ':'
    E203
    # blank line contains whitespace
    W293
    # expected 2 blank lines, found 1
    E302
    # break after binary op.
    W503
    
    # Second category : "I know what I'm doing leave me alone"
    # f-string is missing placeholders
    F541
    # do not assign a lambda expression, use a def
    E731
exclude =
    .git
    .hypothesis
    .mypy_cache
    .pytest_cache
    .vscode
    __pycache__
    docs
    dist
    build
per-file-ignores =
    # Allow re-exporting in __init__.py files
    __init__.py: F401
    # Allow star imports in test example files
    example*.py: F405, F403
    # Silence weird false positive on inline comments ...
    jubeatools/formats/jubeat_analyser/symbols.py: E262
    # there's a field named "l" in a marshmallow schema
    jubeatools/formats/memon/memon.py: E741
max-line-length = 120